body {
    background-color: #eee;
    font-family: Jost;
    padding-top: 100px;

}

@media (max-width: 767px) {
    body {
      padding-top: 50px;
    }
  }

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #fff;
    margin-right: 10px;
    /* text-transform: uppercase; */
    font-weight: 500 !important;
    font-size: 22px
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

/* .navbar-nav .active {
    border-bottom: 4px solid #fff
} */

.logo {
    margin-bottom: 7px !important;
    transition: 0.4s;
}

.navbar {
    padding-top: .5rem; 
    padding-bottom: 0px !important;
        /* overflow:visible */
        background-color: #f1f1f1;
        padding: 10px; /* Large padding which will shrink on scroll (using JS) */
        transition: 0.4s; /* Adds a transition effect when the padding is decreased */
        width: 100%;
        top: 0; /* At the top */
        z-index: 99;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  