/* Base */

body {
    background-color: #eee;
    font-family: Jost, Helvetica, Arial, sans-serif;;
    padding-top: 95px;

}

/* Cabecera */

@media (max-width: 767px) {
    body {
      padding-top: 50px;
    }
  }

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: #fff;
    margin-right: 10px;
    font-weight: 500 !important;
    font-size: 22px
}

.logo {
    margin-bottom: 7px !important;
    transition: 0.4s;
}

.navbar {
    padding-top: .5rem; 
    padding-bottom: 0px !important;
    background-color: #f1f1f1;
    padding: 10px;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 99;
}



/* Footer */

section.ft {
  background-color: #65d49e;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #3ee9d1;
  text-decoration: none;
}

.linkft {
  border-bottom: #65d49e 2px solid;
  color: black;
}

.linkft:hover {
  border-top: #f29580 2px solid;
  border-bottom: none;
}

.fthr {
  width: 120px;
  color: #5366d4;
  height: 2px;
}

