html {
    height: 100%;
}

body {
    height: 100%;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bg {
      height: 50%;
      height: 400px;
      opacity: 0.6;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

@media (max-width: 500px) {
    .bg {
      height: 200px;
    }
  }